/* Large desktops and laptops */
@media (min-width: 1200px) {
  body {
    background-color: green;
  }
  .slide a {
    display: none !important;
  }
  .nav .close {
    display: none;
  }
  .nav {
    width: fit-content;
    height: fit-content;
    margin-top: 30px;
    left: 66.5%;
    flex-direction: row;
    transition: 0s;
  }
  .nav a {
    padding: 10px 15px;
    font-size: 20px;
  }
  .logo {
    width: 220px;
    top: 20px;
    left: 12%;
    transition: 0s;
  }
  .music_player {
    left: 12%;
    width: 76vw;
  }
  #song_cover {
    width: 110px;
    height: 110px;
  }
  .controls {
    max-height: 120px;
  }
  .controls div #rewind,
  .controls div #play,
  .controls div #fastforward {
    width: 42px;
    height: 42px;
    border-radius: 13px;
  }
  .controls img {
    width: 15px;
    height: 15px;
  }
  .song_details {
    font-size: 19px;
  }
  .progress .count {
    font-size: 12px;
  }
}
