/* Large desktops and laptops */
@media (min-width: 1200px) {
  body {
    background-color: green;
  }
  .slide a {
    display: none !important;
  }
  .logo {
    width: 200px;
    top: 20px;
    left: 20%;
  }
  .music_player {
    left: 12%;
    width: 76vw;
  }
  #song_cover {
    width: 110px;
    height: 110px;
  }
  .controls {
    max-height: 120px;
  }
  .controls div #rewind,
  .controls div #play,
  .controls div #fastforward {
    width: 42px;
    height: 42px;
    border-radius: 13px;
  }
  .controls img {
    width: 15px;
    height: 15px;
  }
  .song_details {
    font-size: 19px;
  }
  .progress .count {
    font-size: 12px;
  }
}
