/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  body {
    background-color: yellow;
  }
  .nav {
    padding-top: 50px;
  }
  .nav a {
    font-size: 30px;
  }
  .nav .close {
    font-size: 40px;
  }
  .slide a {
    font-size: 30px;
  }
  .slide a #bars {
    margin-top: 30px;
  }
  .logo {
    top: 25px;
    right: 25px;
    width: 175px;
  }
  #song_cover {
    width: 110px;
    height: 110px;
  }
  .controls div #rewind,
  .controls div #play,
  .controls div #fastforward {
    width: 37px;
    height: 37px;
    border-radius: 11px;
  }
  .controls img {
    width: 20px;
    height: 20px;
  }
  .song_details {
    font-size: 18px;
  }
  .progress .count {
    font-size: 12px;
  }
}
