@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:800');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Alegreya Sans', sans-serif;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}
.banner__bg {
  min-height: 100vh;
  min-width: 100vw;
  background: url('/images/web_mobile_banner.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border: 2px solid black;
}
.nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  padding-top: 60px;
  transition: .7s;
  display: flex;
  flex-direction: column;
  padding-top: 30%;
  overflow-y: hidden;
}
.nav a {
  display: flex;
  flex-direction: column;
  min-width: fit-content;
  margin: 0 auto;
  padding: 20px 30px;
  font-size: 60px;
  text-decoration: none;
  color: #ccc;
  text-align: center;
}

.nav a:hover {
  color: #fff;
  transition: .4s;
}
.nav #music_link img {
  visibility: hidden;
}
.nav .close {
  position: absolute;
  top: 10px;
  right: 30px;
  margin-left: 50px;
  font-size: 60px;
}
.slide a {
  color: #000;
  font-size: 60px;
  margin-left: 30px;
}
.slide a #bars {
  margin-top: 50px;
}
.slide a #bars,
.close #times {
  transition: opacity .7s;
}
#content {
  padding: 10px;
  transition: margin-left 0.7s;
  overflow: hidden;
  width: 100%;
}
.logo {
  position: fixed;
  top: 50px;
  right: 50px;
  width: 280px;
  transition: right .9s;
}

.music_player {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 10px 10px;
  z-index: 2;
  height: fit-content;
}
#song_cover {
  width: 160px;
  height: 160px;
  border-radius: 25px;
  cursor: pointer;
}
.controls {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  max-height: 126px;
  margin: 0 5px;
  align-self: start;
}

.controls div:nth-child(1) {
  display: flex;
  flex-direction: row;
  margin-bottom: 2px;
  padding: 2px 2px;
  height: fit-content;
}
.controls div #rewind,
.controls div #play,
.controls div #fastforward {
  background-color: #ccc;
  margin: 0 3px;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
  cursor: pointer;
  transition: .4s;
}
.controls div #rewind:hover,
.controls div #play:hover,
.controls div #fastforward:hover {
  background-color: white;
} 
.controls img {
  width: 35px;
  height: 35px;
  transition: .5s;
}
.song_details {
  width: 100%;
  max-height: fit-content;
  padding-left: 2px;
  font-size: 23px;
  transition: .7s;
  padding-top: 8px;
  padding-left: 5px;
}

.progress {
  overflow: hidden;
  transition: .7s;
  width: 100%;
  align-self: start;
  display: flex;
  flex-direction: column;
}

.progress .count {
  background-color: #ccc;
  width: fit-content;
  padding: 3px 5px;
  font-size: 18px;
  position: absolute;
  right: 10px;
  top: 55px;
}