@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:800');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
*:focus {
  outline: none;
}
*:active {
  outline: none;
}
body {
  font-family: 'Alegreya Sans', sans-serif;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  transition: .7s;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  align-items: center;
  justify-content: center;
}
.nav a {
  display: flex;
  flex-direction: column;
  min-width: fit-content;
  margin: 0 auto;
  padding: 20px 30px;
  font-size: 35px;
  text-decoration: none;
  color: #ccc;
  text-align: center;
}
.nav a:hover {
  color: #fff;
  transition: .4s;
}
.nav #music_link img {
  visibility: hidden;
}
.nav .close {
  position: absolute;
  top: 25px;
  right: 20px;
  margin-left: 50px;
  font-size: 30px;
}
.slide a {
  color: #000;
  font-size: 30px;
  margin-left: 20px;
}
.slide a #bars {
  margin-top: 15px;
}
.slide a #bars,
.close #times {
  transition: opacity .7s;
}
#content {
  transition: margin-left 0.7s;
  overflow: hidden;
  width: 100%;
}
.logo {
  position: fixed;
  top: 15px;
  right: 30px;
  width: 150px;
  transition: .9s;
  z-index: -2;
}

.music_player {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 10px 10px;
  z-index: 2;
  height: fit-content;
}
.music_player audio {
  display: none;
}
#song_cover {
  width: 73px;
  height: 73px;
  border-radius: 18px;
  cursor: pointer;
}
.controls {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  max-height: 126px;
  margin: 10px 5px;
  align-self: start;
}
.controls div:nth-child(1) {
  display: flex;
  flex-direction: row;
  margin-bottom: 2px;
  padding: 2px 2px;
  height: fit-content;
}
.controls div #rewind,
.controls div #play,
.controls div #fastforward {
  background-color: #ccc;
  margin: 0 3px;
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  transition: .4s;
}
.controls div #rewind:hover,
.controls div #play:hover,
.controls div #fastforward:hover {
  background-color: white;
} 
.controls img {
  width: 10px;
  height: 10px;
  transition: .5s;
}
.song_details {
  width: 100%;
  max-height: fit-content;
  font-size: 12px;
  transition: .7s;
  padding-top: 6px;
  padding-left: 5px;
}

.progress {
  overflow: hidden;
  transition: .7s;
  width: 100%;
  align-self: start;
  display: flex;
  flex-direction: column;
}

.progress .count {
  background-color: #ccc;
  width: fit-content;
  padding: 3px 5px;
  font-size: 10px;
  position: absolute;
  right: 10px;
  top: 55px;
}