/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  body {
    background-color: white;
  }
  .nav {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .nav a {
    font-size: 30px;
    margin-bottom: 200px;
  }
  .nav .close {
    font-size: 40px;
  }
  .slide a {
    font-size: 30px;
  }
  .slide a #bars {
    margin-top: 30px;
  }
  .logo {
    top: 25px;
    right: 25px;
    width: 175px;
  }
  #song_cover {
    width: 100px;
    height: 100px;
  }
  .controls div #rewind,
  .controls div #play,
  .controls div #fastforward {
    width: 34px;
    height: 34px;
    border-radius: 11px;
  }
  .controls img {
    width: 18px;
    height: 18px;
  }
  .song_details {
    font-size: 16px;
  }
  .progress .count {
    font-size: 12px;
  }
}
